body {
    background-color: #bdcaca;
}

.button {
    background-color: #7a7a7a;
    border-radius: 12px;
    border: 2px solid #000000;
    font-size: 16px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #555555;
    color: white;
  }

#canvas {
    border: 6px solid #000000;
    display: inline-block;
}

.rectangle {
    border: 3px solid #f03f3f;
    position: absolute;
}

.rectangle_ready {
    border: 3px solid #2a8136;
}
