<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='page_style.css') }}">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
        </script>
    <script type="text/javascript" src="{{ url_for('static', filename='main_page.js') }}"></script>
</head>

<body>
    <div id="canvas"></div>
    <br /><br />
    <input class="button" type="button" value="Zatwierdź wszystkie opisy" id="save" />
    <input class="button" type="button" value="Wyczyść ostatni opis" id="undo" />
    <input class="button" type="button" value="Wyczyść wszystkie opisy" id="clear" />
    <input class="button" type="button" value="Następny obraz" id="next" />
</body>

</html>